<div class="experience">
    <div class="title" ng-bind="exp.title"></div>
    <div class="content">
        <div class="banner">
            <div class="experience-content"  ng-repeat="item in exp.expList track by $index">
                <div class="left">
                    <div class="img" style="background-image: url({{item.imgUrl}})"></div>
                </div>
                <div class="right">
                    <h4 ng-bind="item.title"></h4>
                    <p class="time" ng-bind="item.time"></p>
                    <p class="post"><<span ng-bind="item.post"></span>></p>
                    <p class="tech">"<span ng-bind="item.tech"></span>"</p>
                    <ul class="list">
                        <li class="item"
                            ng-repeat="itemX in item.contentList track by $index"
                            ng-bind="itemX">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>